{
    "presets": ["env", "react"],
    "plugins": [
        "transform-object-rest-spread",
        "transform-react-jsx",
        "transform-regenerator",
        "transform-async-generator-functions",
        "transform-class-properties"
    ]
}
